# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [2]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

In [3]:
# load in the data
azdias = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_CUSTOMERS_052018.csv', sep=';')

/opt/conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# glimpse at the general population dataset
azdias.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [5]:
# a quick look at the mail-order company customers dataset
customers.head()

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,-1,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,0.0,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,-1,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3

In [6]:
# check why there was an error message about columns 18 and 19
azdias.iloc[:,19].unique(), azdias.iloc[:,20].unique()

(array([nan, 51.0, 24.0, 12.0, 43.0, 54.0, 22.0, 14.0, 13.0, 15.0, 33.0,
        41.0, 34.0, 55.0, 25.0, 23.0, 31.0, 52.0, 35.0, 45.0, 44.0, 32.0,
        '22', '24', '41', '12', '54', '51', '44', '35', '23', '25', '14',
        '34', '52', '55', '31', '32', '15', '13', '43', '33', '45', 'XX'], dtype=object),
 array([  2.,   5.,   3.,   4.,   1.,   6.,  nan]))

In [7]:
customers.iloc[:,19].unique(), customers.iloc[:,20].unique()

(array([13.0, nan, 34.0, 24.0, 41.0, 23.0, 15.0, 55.0, 14.0, 22.0, 43.0,
        51.0, 33.0, 25.0, 44.0, 54.0, 32.0, 12.0, 35.0, 31.0, 45.0, 52.0,
        '45', '25', '55', '51', '14', '54', '43', '22', '15', '24', '35',
        '23', '12', '44', '41', '52', '31', '13', '34', '32', '33', 'XX'], dtype=object),
 array([  5.,  nan,   2.,   6.,   4.,   1.,   3.]))

It seems values X, XX, and nan are the cause of the cause of the warnings received when loading the data. Later I will replace these values, but let's first learn about the values each attribute can take.

In [8]:
# load and view the attribute levels dataset
levels = pd.read_excel("DIAS Information Levels - Attributes 2017.xlsx", header = 1)
levels.head(10)

,Information level,Attribute,Description,Additional notes
NaN,NaN,AGER_TYP,best-ager typology,in cooperation with Kantar TNS; the informatio...
NaN,Person,ALTERSKATEGORIE_GROB,age through prename analysis,modelled on millions of first name-age-referen...
NaN,NaN,ANREDE_KZ,gender,NaN
NaN,NaN,CJT_GESAMTTYP,Customer-Journey-Typology relating to the pref...,"relating to the preferred information, marketi..."
NaN,NaN,FINANZ_MINIMALIST,financial typology: low financial interest,Gfk-Typology based on a representative househo...
NaN,NaN,FINANZ_SPARER,financial typology: money saver,NaN
NaN,NaN,FINANZ_VORSORGER,financial typology: be prepared,NaN
NaN,NaN,FINANZ_ANLEGER,financial typology: investor,NaN
NaN,NaN,FINANZ_UNAUFFAELLIGER,financial typology: unremarkable,NaN
NaN,NaN,FINANZ_HAUSBAUER,financial typology: main focus is the own house,NaN

In [9]:
#load the attibute values
attributes = pd.read_excel("DIAS Attributes - Values 2017.xlsx", header = 1, index = False)
attributes.head(15)

,Attribute,Description,Value,Meaning
NaN,AGER_TYP,best-ager typology,-1,unknown
NaN,NaN,NaN,0,no classification possible
NaN,NaN,NaN,1,passive elderly
NaN,NaN,NaN,2,cultural elderly
NaN,NaN,NaN,3,experience-driven elderly
NaN,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
NaN,NaN,NaN,1,< 30 years
NaN,NaN,NaN,2,30 - 45 years
NaN,NaN,NaN,3,46 - 60 years
NaN,NaN,NaN,4,> 60 years
NaN,NaN,NaN,9,uniformly distributed
NaN,ALTER_HH,main age within the household,0,unknown / no main age detectable
NaN,NaN,NaN,1,01.01.1895 bis 31.12.1899
NaN,NaN,NaN,2,01.01.1900 bis 31.12.1904
NaN,NaN,NaN,3,01.01.1905 bis 31.12.1909

The index contains NaNs, so I will replace it. Also, I will forward fill the "Atttribute" and "Description" columns as their existing values seem to be applicable until the next existing value.

In [10]:
# drop index
attributes.reset_index(drop=True, inplace=True) 
                 
# Forward fill the attribute and description columns
attributes['Attribute'] = attributes['Attribute'].ffill()
attributes['Description'] = attributes['Description'].ffill()

# see the first 15 rows
attributes.head(15)

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
1,AGER_TYP,best-ager typology,0,no classification possible
2,AGER_TYP,best-ager typology,1,passive elderly
3,AGER_TYP,best-ager typology,2,cultural elderly
4,AGER_TYP,best-ager typology,3,experience-driven elderly
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
6,ALTERSKATEGORIE_GROB,age classification through prename analysis,1,< 30 years
7,ALTERSKATEGORIE_GROB,age classification through prename analysis,2,30 - 45 years
8,ALTERSKATEGORIE_GROB,age classification through prename analysis,3,46 - 60 years
9,ALTERSKATEGORIE_GROB,age classification through prename analysis,4,> 60 years
10,ALTERSKATEGORIE_GROB,age classification through prename analysis,9,uniformly distributed
11,ALTER_HH,main age within the household,0,unknown / no main age detectable
12,ALTER_HH,main age within the household,1,01.01.1895 bis 31.12.1899
13,ALTER_HH,main age within the household,2,01.01.1900 bis 31.12.1904
14,ALTER_HH,main age within the household,3,01.01.1905 bis 31.12.1909

Now that I know -1 consistently stands for unknown, which I will convert to NaN later, I will first replace X, XX, and nans detected earlier to -1.

In [11]:
def replace_values(df, cols):
    """
    Replaces 'X', 'XX' and 'nan' values with -1 in the general population and customer datasets. 
    Casts these columns as floats.
    
    Returns: Dataframe with updated columns
    """
    
    df.iloc[:, cols] = df.iloc[:, cols].replace({"X": -1, "XX": -1, "nan": -1})
    df.iloc[:, cols] = df.iloc[:, cols].astype(float)
    
    return df

In [12]:
# since loading datasets is time consuming, I first make copies of the datasets to be able to experiment with them
azdias_copy = azdias.copy()
customers_copy = customers.copy()

In [13]:
cols = [19, 20]
azdias_copy.iloc[:, cols].head()

  CAMEO_INTL_2015  CJT_GESAMTTYP
0             NaN            2.0
1              51            5.0
2              24            3.0
3              12            2.0
4              43            5.0

In [14]:
#apply the function to replace values in columns 18 and 19
cols = [19, 20]

azdias_copy = replace_values(azdias_copy, cols)
customers_copy = replace_values(customers_copy, cols)

In [15]:
# check if the values have been correctly replaced
azdias_copy.iloc[:,19].unique(), azdias_copy.iloc[:,20].unique(), customers_copy.iloc[:,19].unique(), customers_copy.iloc[:,20].unique()

(array([ nan,  51.,  24.,  12.,  43.,  54.,  22.,  14.,  13.,  15.,  33.,
         41.,  34.,  55.,  25.,  23.,  31.,  52.,  35.,  45.,  44.,  32.,
         -1.]),
 array([  2.,   5.,   3.,   4.,   1.,   6.,  nan]),
 array([ 13.,  nan,  34.,  24.,  41.,  23.,  15.,  55.,  14.,  22.,  43.,
         51.,  33.,  25.,  44.,  54.,  32.,  12.,  35.,  31.,  45.,  52.,
         -1.]),
 array([  5.,  nan,   2.,   6.,   4.,   1.,   3.]))

In [16]:
azdias_copy.iloc[:,19].sum()

28106233.0

**Convert unknowns to NaNs**

In [17]:
# attributes with uknown values
unknown_list = attributes[attributes["Meaning"] == "unknown"]

In [18]:
#number of attributes that contain unknown values
len(unknown_list)

232

In [32]:
unknown_list.head()

,Attribute,Description,Value,Meaning
0,AGER_TYP,best-ager typology,-1,unknown
5,ALTERSKATEGORIE_GROB,age classification through prename analysis,"-1, 0",unknown
33,ANREDE_KZ,gender,"-1, 0",unknown
40,BALLRAUM,distance to next urban centre,-1,unknown
48,BIP_FLAG,business-flag indicating companies in the buil...,-1,unknown

In [90]:
def get_unknown_values(col, unknown_list):
    """
    Args: 
    col - columns to retrieve unknown values from
    df - Dataframe containing attribute values
    
    Returns unkown values for the selected columnn"""
    
    
    
    unknown_values = unknown_list[unknown_list["Attribute"] == col]["Value"]
    unknown_values = unknown_values.astype(str).str.cat(sep=",")
    unknown_values = [int(x) for x in unknown_values.split(",")]
      
    return set(unknown_values)

In [91]:
# test the function on a column
ZABEOTYP_unknown = get_unknown_values("ZABEOTYP", unknown_list)
ZABEOTYP_unknown

{-1, 9}

In [92]:
def replace_unknown_col(df, col, unknown_list):
    unknown_values = get_unknown_values(col, unknown_list)
    list2 = []
    for val in df[col].values:
        if val in unknown_values:
            list2.append(np.nan)
        else:
            list2.append(val)
    
    df[col] =  np.array(list2)
            
    return df[col]

In [111]:
def replace_unknowns(df, unknown_list, verbose=False):
    """
    Replaces unknown values of all columns to 'np.nan'
    """
    for col in unknown_list.Attribute:
        unknown_values = get_unknown_values(col, unknown_list)
        if verbose:
            print("Replacing {} to NaN in column {}".format(unknown_values, col))
        if col in df.columns:
            df[col] = replace_unknown_col(df, col, unknown_list)
    return df

In [112]:
replace_unknowns(azdias_copy, unknown_list, verbose = True)

Replacing {-1} to NaN in column AGER_TYP
Replacing {0, -1} to NaN in column ALTERSKATEGORIE_GROB
Replacing {0, -1} to NaN in column ANREDE_KZ
Replacing {-1} to NaN in column BALLRAUM
Replacing {-1} to NaN in column BIP_FLAG
Replacing {-1} to NaN in column CAMEO_DEUG_2015
Replacing {-1} to NaN in column CAMEO_DEUINTL_2015
Replacing {0} to NaN in column CJT_GESAMTTYP
Replacing {-1} to NaN in column D19_KK_KUNDENTYP
Replacing {-1} to NaN in column EWDICHTE
Replacing {-1} to NaN in column FINANZTYP
Replacing {-1} to NaN in column FINANZ_ANLEGER
Replacing {-1} to NaN in column FINANZ_HAUSBAUER
Replacing {-1} to NaN in column FINANZ_MINIMALIST
Replacing {-1} to NaN in column FINANZ_SPARER
Replacing {-1} to NaN in column FINANZ_UNAUFFAELLIGER
Replacing {-1} to NaN in column FINANZ_VORSORGER
Replacing {0, -1} to NaN in column GEBAEUDETYP
Replacing {0, -1} to NaN in column GEOSCORE_KLS7
Replacing {0, -1} to NaN in column HAUSHALTSSTRUKTUR
Replacing {-1} to NaN in column HEALTH_TYP
Replacing {0, -1} to NaN in column HH_EINKOMMEN_SCORE
Replacing {-1} to NaN in column INNENSTADT
Replacing {9, -1} to NaN in column KBA05_ALTER1
Replacing {9, -1} to NaN in column KBA05_ALTER2
Replacing {9, -1} to NaN in column KBA05_ALTER3
Replacing {9, -1} to NaN in column KBA05_ALTER4
Replacing {9, -1} to NaN in column KBA05_ANHANG
Replacing {-1} to NaN in column KBA05_ANTG1
Replacing {-1} to NaN in column KBA05_ANTG2
Replacing {-1} to NaN in column KBA05_ANTG3
Replacing {-1} to NaN in column KBA05_ANTG4
Replacing {9, -1} to NaN in column KBA05_AUTOQUOT
Replacing {0, -1} to NaN in column KBA05_BAUMAX
Replacing {9, -1} to NaN in column KBA05_CCM1
Replacing {9, -1} to NaN in column KBA05_CCM2
Replacing {9, -1} to NaN in column KBA05_CCM3
Replacing {9, -1} to NaN in column KBA05_CCM4
Replacing {9, -1} to NaN in column KBA05_DIESEL
Replacing {9, -1} to NaN in column KBA05_FRAU
Replacing {0, -1} to NaN in column KBA05_GBZ
Replacing {9, -1} to NaN in column KBA05_HERST1
Replacing {9, -1} to NaN in column KBA05_HERST2
Replacing {9, -1} to NaN in column KBA05_HERST3
Replacing {9, -1} to NaN in column KBA05_HERST4
Replacing {9, -1} to NaN in column KBA05_HERST5
Replacing {9, -1} to NaN in column KBA05_HERSTTEMP
Replacing {9, -1} to NaN in column KBA05_KRSAQUOT
Replacing {9, -1} to NaN in column KBA05_KRSHERST1
Replacing {9, -1} to NaN in column KBA05_KRSHERST2
Replacing {9, -1} to NaN in column KBA05_KRSHERST3
Replacing {9, -1} to NaN in column KBA05_KRSKLEIN
Replacing {9, -1} to NaN in column KBA05_KRSOBER
Replacing {9, -1} to NaN in column KBA05_KRSVAN
Replacing {9, -1} to NaN in column KBA05_KRSZUL
Replacing {9, -1} to NaN in column KBA05_KW1
Replacing {9, -1} to NaN in column KBA05_KW2
Replacing {9, -1} to NaN in column KBA05_KW3
Replacing {9, -1} to NaN in column KBA05_MAXAH
Replacing {9, -1} to NaN in column KBA05_MAXBJ
Replacing {9, -1} to NaN in column KBA05_MAXHERST
Replacing {9, -1} to NaN in column KBA05_MAXSEG
Replacing {9, -1} to NaN in column KBA05_MAXVORB
Replacing {9, -1} to NaN in column KBA05_MOD1
Replacing {9, -1} to NaN in column KBA05_MOD2
Replacing {9, -1} to NaN in column KBA05_MOD3
Replacing {9, -1} to NaN in column KBA05_MOD4
Replacing {9, -1} to NaN in column KBA05_MOD8
Replacing {9, -1} to NaN in column KBA05_MODTEMP
Replacing {9, -1} to NaN in column KBA05_MOTOR
Replacing {9, -1} to NaN in column KBA05_MOTRAD
Replacing {9, -1} to NaN in column KBA05_SEG1
Replacing {9, -1} to NaN in column KBA05_SEG10
Replacing {9, -1} to NaN in column KBA05_SEG2
Replacing {9, -1} to NaN in column KBA05_SEG3
Replacing {9, -1} to NaN in column KBA05_SEG4
Replacing {9, -1} to NaN in column KBA05_SEG5
Replacing {9, -1} to NaN in column KBA05_SEG6
Replacing {9, -1} to NaN in column KBA05_SEG7
Replacing {9, -1} to NaN in column KBA05_SEG8
Replacing {9, -1} to NaN in column KBA05_SEG9
Replacing {9, -1} to NaN in column KBA05_VORB0
Replacing {9, -1} to NaN in column KBA05_VORB1
Replacing {9, -1} to NaN in column KBA05_VORB2
Replacing {9, -1} to NaN in column KBA05_ZUL1
Replacing {9, -1} to NaN in column KBA05_ZUL2
Replacing {9, -1} to NaN in column KBA05_ZUL3
Replacing {9, -1} to NaN in column KBA05_ZUL4
Replacing {-1} to NaN in column KBA13_ALTERHALTER_30
Replacing {-1} to NaN in column KBA13_ALTERHALTER_45
Replacing {-1} to NaN in column KBA13_ALTERHALTER_60
Replacing {-1} to NaN in column KBA13_ALTERHALTER_61
Replacing {-1} to NaN in column KBA13_AUDI
Replacing {-1} to NaN in column KBA13_AUTOQUOTE
Replacing {-1} to NaN in column KBA13_BJ_1999
Replacing {-1} to NaN in column KBA13_BJ_2000
Replacing {-1} to NaN in column KBA13_BJ_2004
Replacing {-1} to NaN in column KBA13_BJ_2006
Replacing {-1} to NaN in column KBA13_BJ_2008
Replacing {-1} to NaN in column KBA13_BJ_2009
Replacing {-1} to NaN in column KBA13_BMW
Replacing {-1} to NaN in column KBA13_CCM_1000
Replacing {-1} to NaN in column KBA13_CCM_1200
Replacing {-1} to NaN in column KBA13_CCM_1400
Replacing {-1} to NaN in column KBA13_CCM_0_1400
Replacing {-1} to NaN in column KBA13_CCM_1500
Replacing {-1} to NaN in column KBA13_CCM_1400_2500
Replacing {-1} to NaN in column KBA13_CCM_1600
Replacing {-1} to NaN in column KBA13_CCM_1800
Replacing {-1} to NaN in column KBA13_CCM_2000
Replacing {-1} to NaN in column KBA13_CCM_2500
Replacing {-1} to NaN in column KBA13_CCM_2501
Replacing {-1} to NaN in column KBA13_CCM_3000
Replacing {-1} to NaN in column KBA13_CCM_3001
Replacing {-1} to NaN in column KBA13_FAB_ASIEN
Replacing {-1} to NaN in column KBA13_FAB_SONSTIGE
Replacing {-1} to NaN in column KBA13_FIAT
Replacing {-1} to NaN in column KBA13_FORD
Replacing {-1} to NaN in column KBA13_HALTER_20
Replacing {-1} to NaN in column KBA13_HALTER_25
Replacing {-1} to NaN in column KBA13_HALTER_30
Replacing {-1} to NaN in column KBA13_HALTER_35
Replacing {-1} to NaN in column KBA13_HALTER_40
Replacing {-1} to NaN in column KBA13_HALTER_45
Replacing {-1} to NaN in column KBA13_HALTER_50
Replacing {-1} to NaN in column KBA13_HALTER_55
Replacing {-1} to NaN in column KBA13_HALTER_60
Replacing {-1} to NaN in column KBA13_HALTER_65
Replacing {-1} to NaN in column KBA13_HALTER_66
Replacing {-1} to NaN in column KBA13_HERST_ASIEN
Replacing {-1} to NaN in column KBA13_HERST_AUDI_VW
Replacing {-1} to NaN in column KBA13_HERST_BMW_BENZ
Replacing {-1} to NaN in column KBA13_HERST_EUROPA
Replacing {-1} to NaN in column KBA13_HERST_FORD_OPEL
Replacing {-1} to NaN in column KBA13_HERST_SONST
Replacing {-1} to NaN in column KBA13_KMH_110
Replacing {-1} to NaN in column KBA13_KMH_140
Replacing {-1} to NaN in column KBA13_KMH_180
Replacing {-1} to NaN in column KBA13_KMH_0_140
Replacing {-1} to NaN in column KBA13_KMH_140_210
Replacing {-1} to NaN in column KBA13_KMH_211
Replacing {-1} to NaN in column KBA13_KMH_250
Replacing {-1} to NaN in column KBA13_KMH_251
Replacing {-1} to NaN in column KBA13_KRSAQUOT
Replacing {-1} to NaN in column KBA13_KRSHERST_AUDI_VW
Replacing {-1} to NaN in column KBA13_KRSHERST_BMW_BENZ
Replacing {-1} to NaN in column KBA13_KRSHERST_FORD_OPEL
Replacing {-1} to NaN in column KBA13_KRSSEG_KLEIN
Replacing {-1} to NaN in column KBA13_KRSSEG_OBER
Replacing {-1} to NaN in column KBA13_KRSSEG_VAN
Replacing {-1} to NaN in column KBA13_KRSZUL_NEU
Replacing {-1} to NaN in column KBA13_KW_30
Replacing {-1} to NaN in column KBA13_KW_40
Replacing {-1} to NaN in column KBA13_KW_50
Replacing {-1} to NaN in column KBA13_KW_60
Replacing {-1} to NaN in column KBA13_KW_0_60
Replacing {-1} to NaN in column KBA13_KW_70
Replacing {-1} to NaN in column KBA13_KW_61_120
Replacing {-1} to NaN in column KBA13_KW_80
Replacing {-1} to NaN in column KBA13_KW_90
Replacing {-1} to NaN in column KBA13_KW_110
Replacing {-1} to NaN in column KBA13_KW_120
Replacing {-1} to NaN in column KBA13_KW_121
Replacing {-1} to NaN in column KBA13_MAZDA
Replacing {-1} to NaN in column KBA13_MERCEDES
Replacing {-1} to NaN in column KBA13_MOTOR
Replacing {-1} to NaN in column KBA13_NISSAN
Replacing {-1} to NaN in column KBA13_OPEL
Replacing {-1} to NaN in column KBA13_PEUGEOT
Replacing {-1} to NaN in column KBA13_RENAULT
Replacing {-1} to NaN in column KBA13_SEG_GELAENDEWAGEN
Replacing {-1} to NaN in column KBA13_SEG_GROSSRAUMVANS
Replacing {-1} to NaN in column KBA13_SEG_KLEINST
Replacing {-1} to NaN in column KBA13_SEG_KLEINWAGEN
Replacing {-1} to NaN in column KBA13_SEG_KOMPAKTKLASSE
Replacing {-1} to NaN in column KBA13_SEG_MINIVANS
Replacing {-1} to NaN in column KBA13_SEG_MINIWAGEN
Replacing {-1} to NaN in column KBA13_SEG_MITTELKLASSE
Replacing {-1} to NaN in column KBA13_SEG_OBEREMITTELKLASSE
Replacing {-1} to NaN in column KBA13_SEG_OBERKLASSE
Replacing {-1} to NaN in column KBA13_SEG_SONSTIGE
Replacing {-1} to NaN in column KBA13_SEG_SPORTWAGEN
Replacing {-1} to NaN in column KBA13_SEG_UTILITIES
Replacing {-1} to NaN in column KBA13_SEG_VAN
Replacing {-1} to NaN in column KBA13_SEG_WOHNMOBILE
Replacing {-1} to NaN in column KBA13_SITZE_4
Replacing {-1} to NaN in column KBA13_SITZE_5
Replacing {-1} to NaN in column KBA13_SITZE_6
Replacing {-1} to NaN in column KBA13_TOYOTA
Replacing {-1} to NaN in column KBA13_VORB_0
Replacing {-1} to NaN in column KBA13_VORB_1
Replacing {-1} to NaN in column KBA13_VORB_1_2
Replacing {-1} to NaN in column KBA13_VORB_2
Replacing {-1} to NaN in column KBA13_VORB_3
Replacing {-1} to NaN in column KBA13_VW
Replacing {0, -1} to NaN in column KKK
Replacing {0, -1} to NaN in column NATIONALITAET_KZ
Replacing {-1} to NaN in column ORTSGR_KLS9
Replacing {-1} to NaN in column OST_WEST_KZ
Replacing {-1} to NaN in column PLZ8_ANTG1
Replacing {-1} to NaN in column PLZ8_ANTG2
Replacing {-1} to NaN in column PLZ8_ANTG3
Replacing {-1} to NaN in column PLZ8_ANTG4
Replacing {-1} to NaN in column PLZ8_GBZ
Replacing {-1} to NaN in column PLZ8_HHZ
Replacing {0, -1} to NaN in column PRAEGENDE_JUGENDJAHRE
Replacing {0, -1} to NaN in column REGIOTYP
Replacing {9, -1} to NaN in column RELAT_AB
Replacing {0} to NaN in column RETOURTYP_BK_S
Replacing {9, -1} to NaN in column SEMIO_DOM
Replacing {9, -1} to NaN in column SEMIO_ERL
Replacing {9, -1} to NaN in column SEMIO_FAM
Replacing {9, -1} to NaN in column SEMIO_KAEM
Replacing {9, -1} to NaN in column SEMIO_KRIT
Replacing {9, -1} to NaN in column SEMIO_KULT
Replacing {9, -1} to NaN in column SEMIO_LUST
Replacing {9, -1} to NaN in column SEMIO_MAT
Replacing {9, -1} to NaN in column SEMIO_PFLICHT
Replacing {9, -1} to NaN in column SEMIO_RAT
Replacing {9, -1} to NaN in column SEMIO_REL
Replacing {9, -1} to NaN in column SEMIO_SOZ
Replacing {9, -1} to NaN in column SEMIO_TRADV
Replacing {9, -1} to NaN in column SEMIO_VERT
Replacing {-1} to NaN in column SHOPPER_TYP
Replacing {-1} to NaN in column SOHO_FLAG
Replacing {0, -1} to NaN in column TITEL_KZ
Replacing {-1} to NaN in column VERS_TYP
Replacing {0, -1} to NaN in column WOHNDAUER_2008
Replacing {-1} to NaN in column WOHNLAGE
Replacing {0, -1} to NaN in column WACHSTUMSGEBIET_NB
Replacing {0, -1} to NaN in column W_KEIT_KIND_HH
Replacing {9, -1} to NaN in column ZABEOTYP

In [124]:
replace_unknowns(customers_copy, unknown_list, verbose = True)

Replacing {-1} to NaN in column AGER_TYP
Replacing {0, -1} to NaN in column ALTERSKATEGORIE_GROB
Replacing {0, -1} to NaN in column ANREDE_KZ
Replacing {-1} to NaN in column BALLRAUM
Replacing {-1} to NaN in column BIP_FLAG
Replacing {-1} to NaN in column CAMEO_DEUG_2015
Replacing {-1} to NaN in column CAMEO_DEUINTL_2015
Replacing {0} to NaN in column CJT_GESAMTTYP
Replacing {-1} to NaN in column D19_KK_KUNDENTYP
Replacing {-1} to NaN in column EWDICHTE
Replacing {-1} to NaN in column FINANZTYP
Replacing {-1} to NaN in column FINANZ_ANLEGER
Replacing {-1} to NaN in column FINANZ_HAUSBAUER
Replacing {-1} to NaN in column FINANZ_MINIMALIST
Replacing {-1} to NaN in column FINANZ_SPARER
Replacing {-1} to NaN in column FINANZ_UNAUFFAELLIGER
Replacing {-1} to NaN in column FINANZ_VORSORGER
Replacing {0, -1} to NaN in column GEBAEUDETYP
Replacing {0, -1} to NaN in column GEOSCORE_KLS7
Replacing {0, -1} to NaN in column HAUSHALTSSTRUKTUR
Replacing {-1} to NaN in column HEALTH_TYP
Replacing {0, -1} to NaN in column HH_EINKOMMEN_SCORE
Replacing {-1} to NaN in column INNENSTADT
Replacing {9, -1} to NaN in column KBA05_ALTER1
Replacing {9, -1} to NaN in column KBA05_ALTER2
Replacing {9, -1} to NaN in column KBA05_ALTER3
Replacing {9, -1} to NaN in column KBA05_ALTER4
Replacing {9, -1} to NaN in column KBA05_ANHANG
Replacing {-1} to NaN in column KBA05_ANTG1
Replacing {-1} to NaN in column KBA05_ANTG2
Replacing {-1} to NaN in column KBA05_ANTG3
Replacing {-1} to NaN in column KBA05_ANTG4
Replacing {9, -1} to NaN in column KBA05_AUTOQUOT
Replacing {0, -1} to NaN in column KBA05_BAUMAX
Replacing {9, -1} to NaN in column KBA05_CCM1
Replacing {9, -1} to NaN in column KBA05_CCM2
Replacing {9, -1} to NaN in column KBA05_CCM3
Replacing {9, -1} to NaN in column KBA05_CCM4
Replacing {9, -1} to NaN in column KBA05_DIESEL
Replacing {9, -1} to NaN in column KBA05_FRAU
Replacing {0, -1} to NaN in column KBA05_GBZ
Replacing {9, -1} to NaN in column KBA05_HERST1
Replacing {9, -1} to NaN in column KBA05_HERST2
Replacing {9, -1} to NaN in column KBA05_HERST3
Replacing {9, -1} to NaN in column KBA05_HERST4
Replacing {9, -1} to NaN in column KBA05_HERST5
Replacing {9, -1} to NaN in column KBA05_HERSTTEMP
Replacing {9, -1} to NaN in column KBA05_KRSAQUOT
Replacing {9, -1} to NaN in column KBA05_KRSHERST1
Replacing {9, -1} to NaN in column KBA05_KRSHERST2
Replacing {9, -1} to NaN in column KBA05_KRSHERST3
Replacing {9, -1} to NaN in column KBA05_KRSKLEIN
Replacing {9, -1} to NaN in column KBA05_KRSOBER
Replacing {9, -1} to NaN in column KBA05_KRSVAN
Replacing {9, -1} to NaN in column KBA05_KRSZUL
Replacing {9, -1} to NaN in column KBA05_KW1
Replacing {9, -1} to NaN in column KBA05_KW2
Replacing {9, -1} to NaN in column KBA05_KW3
Replacing {9, -1} to NaN in column KBA05_MAXAH
Replacing {9, -1} to NaN in column KBA05_MAXBJ
Replacing {9, -1} to NaN in column KBA05_MAXHERST
Replacing {9, -1} to NaN in column KBA05_MAXSEG
Replacing {9, -1} to NaN in column KBA05_MAXVORB
Replacing {9, -1} to NaN in column KBA05_MOD1
Replacing {9, -1} to NaN in column KBA05_MOD2
Replacing {9, -1} to NaN in column KBA05_MOD3
Replacing {9, -1} to NaN in column KBA05_MOD4
Replacing {9, -1} to NaN in column KBA05_MOD8
Replacing {9, -1} to NaN in column KBA05_MODTEMP
Replacing {9, -1} to NaN in column KBA05_MOTOR
Replacing {9, -1} to NaN in column KBA05_MOTRAD
Replacing {9, -1} to NaN in column KBA05_SEG1
Replacing {9, -1} to NaN in column KBA05_SEG10
Replacing {9, -1} to NaN in column KBA05_SEG2
Replacing {9, -1} to NaN in column KBA05_SEG3
Replacing {9, -1} to NaN in column KBA05_SEG4
Replacing {9, -1} to NaN in column KBA05_SEG5
Replacing {9, -1} to NaN in column KBA05_SEG6
Replacing {9, -1} to NaN in column KBA05_SEG7
Replacing {9, -1} to NaN in column KBA05_SEG8
Replacing {9, -1} to NaN in column KBA05_SEG9
Replacing {9, -1} to NaN in column KBA05_VORB0
Replacing {9, -1} to NaN in column KBA05_VORB1
Replacing {9, -1} to NaN in column KBA05_VORB2
Replacing {9, -1} to NaN in column KBA05_ZUL1
Replacing {9, -1} to NaN in column KBA05_ZUL2
Replacing {9, -1} to NaN in column KBA05_ZUL3
Replacing {9, -1} to NaN in column KBA05_ZUL4
Replacing {-1} to NaN in column KBA13_ALTERHALTER_30
Replacing {-1} to NaN in column KBA13_ALTERHALTER_45
Replacing {-1} to NaN in column KBA13_ALTERHALTER_60
Replacing {-1} to NaN in column KBA13_ALTERHALTER_61
Replacing {-1} to NaN in column KBA13_AUDI
Replacing {-1} to NaN in column KBA13_AUTOQUOTE
Replacing {-1} to NaN in column KBA13_BJ_1999
Replacing {-1} to NaN in column KBA13_BJ_2000
Replacing {-1} to NaN in column KBA13_BJ_2004
Replacing {-1} to NaN in column KBA13_BJ_2006
Replacing {-1} to NaN in column KBA13_BJ_2008
Replacing {-1} to NaN in column KBA13_BJ_2009
Replacing {-1} to NaN in column KBA13_BMW
Replacing {-1} to NaN in column KBA13_CCM_1000
Replacing {-1} to NaN in column KBA13_CCM_1200
Replacing {-1} to NaN in column KBA13_CCM_1400
Replacing {-1} to NaN in column KBA13_CCM_0_1400
Replacing {-1} to NaN in column KBA13_CCM_1500
Replacing {-1} to NaN in column KBA13_CCM_1400_2500
Replacing {-1} to NaN in column KBA13_CCM_1600
Replacing {-1} to NaN in column KBA13_CCM_1800
Replacing {-1} to NaN in column KBA13_CCM_2000
Replacing {-1} to NaN in column KBA13_CCM_2500
Replacing {-1} to NaN in column KBA13_CCM_2501
Replacing {-1} to NaN in column KBA13_CCM_3000
Replacing {-1} to NaN in column KBA13_CCM_3001
Replacing {-1} to NaN in column KBA13_FAB_ASIEN
Replacing {-1} to NaN in column KBA13_FAB_SONSTIGE
Replacing {-1} to NaN in column KBA13_FIAT
Replacing {-1} to NaN in column KBA13_FORD
Replacing {-1} to NaN in column KBA13_HALTER_20
Replacing {-1} to NaN in column KBA13_HALTER_25
Replacing {-1} to NaN in column KBA13_HALTER_30
Replacing {-1} to NaN in column KBA13_HALTER_35
Replacing {-1} to NaN in column KBA13_HALTER_40
Replacing {-1} to NaN in column KBA13_HALTER_45
Replacing {-1} to NaN in column KBA13_HALTER_50
Replacing {-1} to NaN in column KBA13_HALTER_55
Replacing {-1} to NaN in column KBA13_HALTER_60
Replacing {-1} to NaN in column KBA13_HALTER_65
Replacing {-1} to NaN in column KBA13_HALTER_66
Replacing {-1} to NaN in column KBA13_HERST_ASIEN
Replacing {-1} to NaN in column KBA13_HERST_AUDI_VW
Replacing {-1} to NaN in column KBA13_HERST_BMW_BENZ
Replacing {-1} to NaN in column KBA13_HERST_EUROPA
Replacing {-1} to NaN in column KBA13_HERST_FORD_OPEL
Replacing {-1} to NaN in column KBA13_HERST_SONST
Replacing {-1} to NaN in column KBA13_KMH_110
Replacing {-1} to NaN in column KBA13_KMH_140
Replacing {-1} to NaN in column KBA13_KMH_180
Replacing {-1} to NaN in column KBA13_KMH_0_140
Replacing {-1} to NaN in column KBA13_KMH_140_210
Replacing {-1} to NaN in column KBA13_KMH_211
Replacing {-1} to NaN in column KBA13_KMH_250
Replacing {-1} to NaN in column KBA13_KMH_251
Replacing {-1} to NaN in column KBA13_KRSAQUOT
Replacing {-1} to NaN in column KBA13_KRSHERST_AUDI_VW
Replacing {-1} to NaN in column KBA13_KRSHERST_BMW_BENZ
Replacing {-1} to NaN in column KBA13_KRSHERST_FORD_OPEL
Replacing {-1} to NaN in column KBA13_KRSSEG_KLEIN
Replacing {-1} to NaN in column KBA13_KRSSEG_OBER
Replacing {-1} to NaN in column KBA13_KRSSEG_VAN
Replacing {-1} to NaN in column KBA13_KRSZUL_NEU
Replacing {-1} to NaN in column KBA13_KW_30
Replacing {-1} to NaN in column KBA13_KW_40
Replacing {-1} to NaN in column KBA13_KW_50
Replacing {-1} to NaN in column KBA13_KW_60
Replacing {-1} to NaN in column KBA13_KW_0_60
Replacing {-1} to NaN in column KBA13_KW_70
Replacing {-1} to NaN in column KBA13_KW_61_120
Replacing {-1} to NaN in column KBA13_KW_80
Replacing {-1} to NaN in column KBA13_KW_90
Replacing {-1} to NaN in column KBA13_KW_110
Replacing {-1} to NaN in column KBA13_KW_120
Replacing {-1} to NaN in column KBA13_KW_121
Replacing {-1} to NaN in column KBA13_MAZDA
Replacing {-1} to NaN in column KBA13_MERCEDES
Replacing {-1} to NaN in column KBA13_MOTOR
Replacing {-1} to NaN in column KBA13_NISSAN
Replacing {-1} to NaN in column KBA13_OPEL
Replacing {-1} to NaN in column KBA13_PEUGEOT
Replacing {-1} to NaN in column KBA13_RENAULT
Replacing {-1} to NaN in column KBA13_SEG_GELAENDEWAGEN
Replacing {-1} to NaN in column KBA13_SEG_GROSSRAUMVANS
Replacing {-1} to NaN in column KBA13_SEG_KLEINST
Replacing {-1} to NaN in column KBA13_SEG_KLEINWAGEN
Replacing {-1} to NaN in column KBA13_SEG_KOMPAKTKLASSE
Replacing {-1} to NaN in column KBA13_SEG_MINIVANS
Replacing {-1} to NaN in column KBA13_SEG_MINIWAGEN
Replacing {-1} to NaN in column KBA13_SEG_MITTELKLASSE
Replacing {-1} to NaN in column KBA13_SEG_OBEREMITTELKLASSE
Replacing {-1} to NaN in column KBA13_SEG_OBERKLASSE
Replacing {-1} to NaN in column KBA13_SEG_SONSTIGE
Replacing {-1} to NaN in column KBA13_SEG_SPORTWAGEN
Replacing {-1} to NaN in column KBA13_SEG_UTILITIES
Replacing {-1} to NaN in column KBA13_SEG_VAN
Replacing {-1} to NaN in column KBA13_SEG_WOHNMOBILE
Replacing {-1} to NaN in column KBA13_SITZE_4
Replacing {-1} to NaN in column KBA13_SITZE_5
Replacing {-1} to NaN in column KBA13_SITZE_6
Replacing {-1} to NaN in column KBA13_TOYOTA
Replacing {-1} to NaN in column KBA13_VORB_0
Replacing {-1} to NaN in column KBA13_VORB_1
Replacing {-1} to NaN in column KBA13_VORB_1_2
Replacing {-1} to NaN in column KBA13_VORB_2
Replacing {-1} to NaN in column KBA13_VORB_3
Replacing {-1} to NaN in column KBA13_VW
Replacing {0, -1} to NaN in column KKK
Replacing {0, -1} to NaN in column NATIONALITAET_KZ
Replacing {-1} to NaN in column ORTSGR_KLS9
Replacing {-1} to NaN in column OST_WEST_KZ
Replacing {-1} to NaN in column PLZ8_ANTG1
Replacing {-1} to NaN in column PLZ8_ANTG2
Replacing {-1} to NaN in column PLZ8_ANTG3
Replacing {-1} to NaN in column PLZ8_ANTG4
Replacing {-1} to NaN in column PLZ8_GBZ
Replacing {-1} to NaN in column PLZ8_HHZ
Replacing {0, -1} to NaN in column PRAEGENDE_JUGENDJAHRE
Replacing {0, -1} to NaN in column REGIOTYP
Replacing {9, -1} to NaN in column RELAT_AB
Replacing {0} to NaN in column RETOURTYP_BK_S
Replacing {9, -1} to NaN in column SEMIO_DOM
Replacing {9, -1} to NaN in column SEMIO_ERL
Replacing {9, -1} to NaN in column SEMIO_FAM
Replacing {9, -1} to NaN in column SEMIO_KAEM
Replacing {9, -1} to NaN in column SEMIO_KRIT
Replacing {9, -1} to NaN in column SEMIO_KULT
Replacing {9, -1} to NaN in column SEMIO_LUST
Replacing {9, -1} to NaN in column SEMIO_MAT
Replacing {9, -1} to NaN in column SEMIO_PFLICHT
Replacing {9, -1} to NaN in column SEMIO_RAT
Replacing {9, -1} to NaN in column SEMIO_REL
Replacing {9, -1} to NaN in column SEMIO_SOZ
Replacing {9, -1} to NaN in column SEMIO_TRADV
Replacing {9, -1} to NaN in column SEMIO_VERT
Replacing {-1} to NaN in column SHOPPER_TYP
Replacing {-1} to NaN in column SOHO_FLAG
Replacing {0, -1} to NaN in column TITEL_KZ
Replacing {-1} to NaN in column VERS_TYP
Replacing {0, -1} to NaN in column WOHNDAUER_2008
Replacing {-1} to NaN in column WOHNLAGE
Replacing {0, -1} to NaN in column WACHSTUMSGEBIET_NB
Replacing {0, -1} to NaN in column W_KEIT_KIND_HH
Replacing {9, -1} to NaN in column ZABEOTYP

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,PRODUCT_GROUP,CUSTOMER_GROUP,ONLINE_PURCHASE,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,9626,2.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
1,9628,NaN,9.0,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,NaN,9.0,NaN,3,FOOD,SINGLE_BUYER,0,1,4
2,143872,NaN,1.0,6.0,NaN,NaN,NaN,NaN,0.0,1.0,...,11.0,6.0,9.0,2.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
3,143873,1.0,1.0,8.0,NaN,NaN,NaN,NaN,8.0,0.0,...,2.0,NaN,9.0,7.0,1,COSMETIC,MULTI_BUYER,0,1,4
4,143874,NaN,1.0,20.0,NaN,NaN,NaN,NaN,14.0,7.0,...,4.0,2.0,9.0,3.0,1,FOOD,MULTI_BUYER,0,1,3
5,143888,1.0,1.0,11.0,NaN,NaN,NaN,NaN,10.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
6,143904,2.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
7,143910,1.0,1.0,10.0,NaN,NaN,NaN,NaN,9.0,1.0,...,1.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,1,4
8,102160,2.0,3.0,5.0,NaN,NaN,NaN,NaN,4.0,74.0,...,9.0,6.0,3.0,4.0,3,COSMETIC,MULTI_BUYER,0,2,4
9,102173,1.0,1.0,20.0,NaN,NaN,NaN,NaN,13.0,1.0,...,4.0,2.0,9.0,5.0,1,COSMETIC,MULTI_BUYER,0,1,3
10,102184,NaN,7.0,14.0,NaN,NaN,NaN,NaN,14.0,NaN,...,7.0,NaN,3.0,NaN,3,COSMETIC,MULTI_BUYER,1,2,3
11,102185,1.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,2.0,6.0,3.0,4.0,1,FOOD,SINGLE_BUYER,0,1,4
12,102227,NaN,1.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,5.0,4.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,4
13,102230,NaN,1.0,15.0,8.0,NaN,NaN,NaN,14.0,1.0,...,5.0,1.0,9.0,4.0,4,FOOD,SINGLE_BUYER,1,1,3
14,102239,2.0,1.0,6.0,NaN,NaN,NaN,NaN,6.0,9.0,...,3.0,6.0,7.0,3.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
15,110278,2.0,5.0,17.0,NaN,NaN,NaN,NaN,12.0,1.0,...,2.0,2.0,9.0,2.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
16,110279,1.0,1.0,0.0,NaN,NaN,NaN,NaN,10.0,1.0,...,1.0,1.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,4
17,110305,NaN,7.0,20.0,NaN,NaN,NaN,NaN,19.0,1.0,...,1.0,2.0,9.0,2.0,1,COSMETIC,MULTI_BUYER,0,1,4
18,110306,NaN,1.0,17.0,NaN,NaN,NaN,NaN,17.0,17.0,...,6.0,5.0,9.0,3.0,4,COSMETIC,SINGLE_BUYER,1,1,2
19,110322,NaN,1.0,0.0,NaN,NaN,NaN,NaN,14.0,12.0,...,6.0,6.0,8.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
20,110327,NaN,1.0,0.0,NaN,NaN,NaN,NaN,15.0,1.0,...,2.0,6.0,9.0,2.0,1,FOOD,SINGLE_BUYER,0,1,4
21,110328,2.0,7.0,11.0,NaN,NaN,NaN,NaN,11.0,29.0,...,7.0,6.0,5.0,7.0,4,FOOD,SINGLE_BUYER,0,1,4
22,110336,2.0,1.0,8.0,NaN,NaN,NaN,NaN,8.0,2.0,...,5.0,6.0,9.0,7.0,3,FOOD,SINGLE_BUYER,0,2,1
23,110344,NaN,7.0,14.0,NaN,NaN,NaN,NaN,14.0,45.0,...,7.0,5.0,7.0,4.0,6,COSMETIC,SINGLE_BUYER,1,1,3
24,110356,2.0,1.0,19.0,NaN,NaN,NaN,NaN,10.0,2.0,...,1.0,2.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
25,110357,NaN,1.0,21.0,12.0,NaN,NaN,NaN,15.0,1.0,...,4.0,1.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
26,5538,1.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,2.0,...,4.0,4.0,9.0,7.0,3,COSMETIC,MULTI_BUYER,0,2,4
27,5545,NaN,2.0,19.0,NaN,NaN,NaN,NaN,NaN,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC,SINGLE_BUYER,0,1,3
28,5573,2.0,1.0,8.0,NaN,NaN,NaN,NaN,8.0,10.0,...,1.0,6.0,9.0,5.0,3,COSMETIC,MULTI_BUYER,0,2,4
29,5574,0.0,1.0,12.0,NaN,NaN,NaN,NaN,12.0,14.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191622,141330,2.0,1.0,8.0,NaN,NaN,NaN,NaN,8.0,2.0,...,1.0,6.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191623,141335,1.0,1.0,11.0,NaN,NaN,NaN,NaN,11.0,1.0,...,2.0,4.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191624,141336,1.0,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,2.0,5.0,9.0,1.0,1,COSMETIC,MULTI_BUYER,0,1,4
191625,153439,2.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,3.0,6.0,9.0,3.0,3,FOOD,SINGLE_BUYER,0,2,4
191626,153440,NaN,1.0,14.0,NaN,NaN,NaN,NaN,14.0,7.0,...,7.0,4.0,4.0,2.0,4,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2
191627,153447,3.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,11.0,...,1.0,6.0,9.0,4.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,3
191628,153455,1.0,1.0,12.0,NaN,NaN,NaN,NaN,12.0,1.0,...,3.0,6.0,9.0,1.0,3,COSMETIC,SINGLE_BUYER,0,1,4
191629,153475,2.0,9.0,8.0,NaN,NaN,NaN,NaN,8.0,97.0,...,3.0,3.0,4.0,2.0,3,COSMETIC,MULTI_BUYER,0,2,4
191630,153477,2.0,1.0,10.0,NaN,NaN,NaN,NaN,10.0,1.0,...,3.0,6.0,8.0,3.0,3,COSMETIC,SINGLE_BUYER,0,1,3
191631,153481,2.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,24.0,...,1.0,NaN,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191632,153525,0.0,1.0,18.0,NaN,NaN,NaN,NaN,13.0,3.0,...,3.0,2.0,9.0,7.0,1,FOOD,SINGLE_BUYER,0,1,3
191633,153551,1.0,1.0,20.0,NaN,NaN,NaN,NaN,12.0,1.0,...,2.0,3.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,1,4
191634,55811,2.0,1.0,18.0,NaN,NaN,NaN,NaN,12.0,2.0,...,1.0,2.0,9.0,7.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,3
191635,55815,2.0,1.0,14.0,NaN,NaN,NaN,NaN,8.0,1.0,...,3.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,2,4
191636,55817,2.0,1.0,8.0,NaN,NaN,NaN,NaN,7.0,1.0,...,1.0,6.0,9.0,1.0,2,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191637,55823,NaN,1.0,21.0,NaN,NaN,NaN,NaN,14.0,1.0,...,2.0,4.0,9.0,3.0,1,FOOD,SINGLE_BUYER,0,2,3
191638,55832,1.0,1.0,12.0,NaN,NaN,NaN,NaN,11.0,20.0,...,4.0,6.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191639,55834,NaN,3.0,15.0,NaN,NaN,NaN,NaN,15.0,2.0,...,3.0,3.0,7.0,5.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191640,55835,3.0,1.0,19.0,NaN,NaN,NaN,NaN,13.0,3.0,...,2.0,5.0,9.0,2.0,1,COSMETIC,SINGLE_BUYER,0,1,3
191641,55838,1.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,1.0,...,3.0,6.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191642,154464,2.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,32.0,...,1.0,6.0,9.0,5.0,3,FOOD,SINGLE_BUYER,0,2,4
191643,154503,2.0,1.0,18.0,NaN,NaN,NaN,NaN,11.0,1.0,...,1.0,2.0,9.0,1.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191644,154513,2.0,2.0,13.0,NaN,NaN,NaN,NaN,13.0,7.0,...,2.0,4.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,1,2,4
191645,154554,2.0,1.0,21.0,NaN,NaN,NaN,NaN,13.0,2.0,...,3.0,2.0,9.0,4.0,6,COSMETIC_AND_FOOD,MULTI_BUYER,1,1,4
191646,154559,3.0,1.0,13.0,NaN,NaN,NaN,NaN,13.0,5.0,...,1.0,6.0,9.0,4.0,3,FOOD,SINGLE_BUYER,0,2,2
191647,154561,1.0,1.0,9.0,NaN,NaN,NaN,NaN,9.0,1.0,...,5.0,6.0,9.0,1.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,3
191648,154563,NaN,2.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,...,4.0,NaN,9.0,3.0,3,COSMETIC,SINGLE_BUYER,0,2,4
191649,148813,2.0,1.0,15.0,NaN,NaN,NaN,NaN,10.0,1.0,...,5.0,3.0,9.0,3.0,3,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,4
191650,148852,3.0,1.0,13.0,NaN,NaN,NaN,NaN,13.0,4.0,...,1.0,4.0,9.0,2.0,3,FOOD,SINGLE_BUYER,0,2,3
191651,148883,3.0,1.0,0.0,NaN,NaN,NaN,NaN,9.0,1.0,...,1.0,3.0,9.0,7.0,1,COSMETIC_AND_FOOD,MULTI_BUYER,0,1,2

In [125]:
#show columns that are of object type
customers_copy.loc[:, customers_copy.dtypes == object]

,CAMEO_DEU_2015,CAMEO_DEUG_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ,PRODUCT_GROUP,CUSTOMER_GROUP
0,1A,1.0,D19_UNBEKANNT,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
1,NaN,nan,D19_BANKEN_GROSS,NaN,nan,FOOD,SINGLE_BUYER
2,5D,5.0,D19_UNBEKANNT,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
3,4C,4.0,D19_NAHRUNGSERGAENZUNG,1992-02-10 00:00:00,W,COSMETIC,MULTI_BUYER
4,7B,7.0,D19_SCHUHE,1992-02-12 00:00:00,W,FOOD,MULTI_BUYER
5,5D,5.0,D19_BUCH_CD,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
6,3B,3.0,D19_DROGERIEARTIKEL,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
7,1D,1.0,D19_SONSTIGE,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
8,9E,9.0,D19_SONSTIGE,2004-10-14 00:00:00,W,COSMETIC,MULTI_BUYER
9,1D,1.0,D19_BUCH_CD,1997-07-14 00:00:00,W,COSMETIC,MULTI_BUYER
10,NaN,nan,D19_BUCH_CD,NaN,nan,COSMETIC,MULTI_BUYER
11,2D,2.0,D19_TECHNIK,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
12,4A,4.0,D19_VERSICHERUNGEN,1995-08-14 00:00:00,W,FOOD,SINGLE_BUYER
13,6B,6.0,D19_BUCH_CD,2007-03-20 00:00:00,W,FOOD,SINGLE_BUYER
14,9D,9.0,D19_BANKEN_GROSS,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
15,1D,1.0,D19_SONSTIGE,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
16,1D,1.0,D19_BUCH_CD,1992-02-10 00:00:00,W,COSMETIC,SINGLE_BUYER
17,2D,2.0,D19_VERSICHERUNGEN,1992-02-10 00:00:00,W,COSMETIC,MULTI_BUYER
18,8B,8.0,D19_VERSICHERUNGEN,1992-02-10 00:00:00,W,COSMETIC,SINGLE_BUYER
19,4C,4.0,D19_SONSTIGE,1992-02-12 00:00:00,W,FOOD,SINGLE_BUYER
20,5C,5.0,D19_TELKO_MOBILE,2005-08-23 00:00:00,W,FOOD,SINGLE_BUYER
21,6B,6.0,D19_SONSTIGE,1992-02-12 00:00:00,W,FOOD,SINGLE_BUYER
22,4C,4.0,D19_VOLLSORTIMENT,1996-07-22 00:00:00,W,FOOD,SINGLE_BUYER
23,9C,9.0,NaN,1992-02-12 00:00:00,W,COSMETIC,SINGLE_BUYER
24,5C,5.0,D19_HAUS_DEKO,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
25,4A,4.0,D19_SCHUHE,1996-04-01 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
26,4E,4.0,D19_UNBEKANNT,1992-02-10 00:00:00,W,COSMETIC,MULTI_BUYER
27,6C,6.0,D19_VERSICHERUNGEN,1992-02-10 00:00:00,W,COSMETIC,SINGLE_BUYER
28,8C,8.0,D19_SONSTIGE,1992-02-10 00:00:00,W,COSMETIC,MULTI_BUYER
29,8A,8.0,D19_SONSTIGE,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
...,...,...,...,...,...,...,...
191622,6B,6,D19_UNBEKANNT,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191623,2C,2,D19_LEBENSMITTEL,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191624,7C,7,D19_VERSICHERUNGEN,1992-02-12 00:00:00,W,COSMETIC,MULTI_BUYER
191625,3D,3,D19_UNBEKANNT,1998-01-12 00:00:00,W,FOOD,SINGLE_BUYER
191626,4C,4,D19_SONSTIGE,2004-10-14 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191627,8D,8,D19_BANKEN_DIREKT,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191628,4A,4,D19_BEKLEIDUNG_GEH,1992-02-12 00:00:00,W,COSMETIC,SINGLE_BUYER
191629,9E,9,D19_SAMMELARTIKEL,1992-02-10 00:00:00,W,COSMETIC,MULTI_BUYER
191630,8A,8,D19_UNBEKANNT,1992-02-12 00:00:00,W,COSMETIC,SINGLE_BUYER
191631,6C,6,D19_SAMMELARTIKEL,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191632,2D,2,D19_VOLLSORTIMENT,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
191633,2C,2,D19_BUCH_CD,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
191634,5C,5,D19_VOLLSORTIMENT,1995-11-06 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191635,6E,6,D19_TELKO_REST,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191636,5D,5,D19_SONSTIGE,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191637,3D,3,D19_SONSTIGE,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
191638,9A,9,D19_HAUS_DEKO,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191639,4A,4,D19_HAUS_DEKO,2007-11-20 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191640,1E,1,D19_ENERGIE,1992-02-10 00:00:00,W,COSMETIC,SINGLE_BUYER
191641,2C,2,D19_TELKO_MOBILE,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191642,8D,8,D19_UNBEKANNT,1994-01-28 00:00:00,O,FOOD,SINGLE_BUYER
191643,1D,1,D19_BEKLEIDUNG_REST,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191644,8B,8,D19_BEKLEIDUNG_GEH,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191645,6B,6,D19_SONSTIGE,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191646,1C,1,D19_BEKLEIDUNG_GEH,1993-06-25 00:00:00,W,FOOD,SINGLE_BUYER
191647,1C,1,D19_BANKEN_REST,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191648,5B,5,D19_UNBEKANNT,1997-03-06 00:00:00,W,COSMETIC,SINGLE_BUYER
191649,4D,4,D19_TECHNIK,1992-02-10 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER
191650,4C,4,D19_BANKEN_REST,1992-02-10 00:00:00,W,FOOD,SINGLE_BUYER
191651,5C,5,D19_SCHUHE,1992-02-12 00:00:00,W,COSMETIC_AND_FOOD,MULTI_BUYER

In [126]:
#show columns that are of object type
azdias_copy.loc[:, customers_copy.dtypes == object]

,CAMEO_DEU_2015,CAMEO_DEUG_2015,D19_LETZTER_KAUF_BRANCHE,EINGEFUEGT_AM,OST_WEST_KZ
0,NaN,nan,NaN,NaN,nan
1,8A,8.0,NaN,1992-02-10 00:00:00,W
2,4C,4.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
3,2A,2.0,D19_UNBEKANNT,1997-04-21 00:00:00,W
4,6B,6.0,D19_SCHUHE,1992-02-12 00:00:00,W
5,8C,8.0,D19_ENERGIE,1992-02-12 00:00:00,W
6,4A,4.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
7,2D,2.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
8,1A,1.0,NaN,1992-02-10 00:00:00,W
9,1E,1.0,D19_KOSMETIK,1992-02-10 00:00:00,W
10,9D,9.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
11,NaN,nan,NaN,NaN,nan
12,6B,6.0,D19_SCHUHE,2005-12-30 00:00:00,W
13,5C,5.0,D19_VOLLSORTIMENT,2009-01-19 00:00:00,W
14,NaN,nan,NaN,NaN,nan
15,8B,8.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
16,7A,7.0,D19_SONSTIGE,1995-02-02 00:00:00,W
17,NaN,nan,NaN,NaN,nan
18,4C,4.0,NaN,1996-12-05 00:00:00,W
19,5D,5.0,NaN,1992-02-12 00:00:00,W
20,4C,4.0,D19_SONSTIGE,2002-03-13 00:00:00,W
21,9E,9.0,NaN,1992-02-12 00:00:00,W
22,9D,9.0,NaN,1992-02-10 00:00:00,W
23,6B,6.0,D19_BANKEN_GROSS,1992-02-12 00:00:00,W
24,NaN,nan,NaN,NaN,nan
25,5C,5.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
26,NaN,nan,D19_ENERGIE,2015-04-01 00:00:00,W
27,9B,9.0,D19_SCHUHE,1996-05-09 00:00:00,W
28,1A,1.0,NaN,1992-02-12 00:00:00,W
29,2A,2.0,D19_BANKEN_GROSS,2005-04-12 00:00:00,W
...,...,...,...,...,...
891191,6C,6.0,D19_VERSAND_REST,1992-02-10 00:00:00,W
891192,5B,5.0,NaN,1992-02-12 00:00:00,W
891193,6B,6.0,D19_BILDUNG,1992-02-12 00:00:00,W
891194,4C,4.0,D19_BUCH_CD,2000-10-04 00:00:00,W
891195,8D,8.0,D19_VOLLSORTIMENT,1992-02-10 00:00:00,W
891196,4B,4.0,D19_VOLLSORTIMENT,1993-11-03 00:00:00,W
891197,3C,3.0,D19_RATGEBER,1992-02-12 00:00:00,W
891198,2C,2.0,NaN,1992-02-12 00:00:00,W
891199,8A,8.0,NaN,1992-02-12 00:00:00,W
891200,9A,9.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891201,7A,7.0,D19_VERSAND_REST,1992-02-10 00:00:00,W
891202,8B,8.0,D19_VERSAND_REST,1992-02-10 00:00:00,W
891203,3D,3.0,D19_UNBEKANNT,2007-08-14 00:00:00,W
891204,3C,3.0,D19_TELKO_REST,1992-02-12 00:00:00,W
891205,5E,5.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891206,3D,3.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891207,7A,7.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891208,2C,2.0,D19_UNBEKANNT,1997-10-13 00:00:00,W
891209,8A,8.0,D19_TELKO_REST,1992-02-10 00:00:00,W
891210,8B,8.0,D19_WEIN_FEINKOST,1992-02-12 00:00:00,W
891211,9D,9.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
891212,9D,9.0,NaN,1992-02-12 00:00:00,W
891213,5E,5.0,D19_VERSICHERUNGEN,1992-02-10 00:00:00,W
891214,3A,3.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891215,5A,5.0,NaN,1992-02-10 00:00:00,W
891216,7A,7.0,D19_HAUS_DEKO,1992-02-10 00:00:00,W
891217,9D,9.0,D19_UNBEKANNT,1992-02-10 00:00:00,W
891218,4C,4.0,D19_BEKLEIDUNG_GEH,1992-02-10 00:00:00,W
891219,9D,9.0,D19_UNBEKANNT,1992-02-12 00:00:00,W
891220,6B,6.0,NaN,1992-02-10 00:00:00,W

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter. If you're one of the top performers, you may have the chance to be contacted by a hiring manager from Arvato or Bertelsmann for an interview!

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')